
@{
    Layout = null;
}

@using Flight.Models.Entity;

<!DOCTYPE html>
<html lang="vi">

<!-- Mirrored from vietjets.com.vn/flight/search?session=1154376851 by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2019 14:27:45 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <base />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chuyến bay Từ Hà Nội Đến TP Hồ Chí Minh Một chiều | Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ</title>
    <meta name="description" content="Bay nội địa - Bay quốc tế siêu rẻ với VietJet Air - Giá chỉ từ 58.OOO VND. Đặt mua vé máy bay Vietjet Air dễ dàng, nhanh chóng, thanh toán bảo mật an toàn tuyệt đối." />
    <meta name="keywords" content="Vietjet, vietjet air, Vietjet  air online vé máy bay giá rẻ vietjet, ve may bay, vé máy bay giá rẻ, vé khuyến mãi" />
    <link href="~/vietjets.png" rel="shortcut icon" />
    <link href="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.css" rel="stylesheet">
    <link href="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css" rel="stylesheet">
    <link href="~/javascript/bxslider/jquery.bxslider.css" rel="stylesheet">

    <link href="~/themes/nokair/css/style_2019.css" rel="stylesheet">
    <link href="~/themes/nokair/css/style2.css" rel="stylesheet">
    <link href="~/javascript/datatables/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/themes/nokair/js/uniform/themes/default/css/uniform.default.css" media="screen" />
    <script src="~/javascript/accounting.min.js"></script>
    <script src="~/javascript/jquery.min.js"></script>
    <link href="~/javascript/smoke.css" rel="stylesheet">
    <script src="~/javascript/smoke.min.js"></script>



    <meta name="google-site-verification" content="6NFXOM4EDOcL43T3fVj4Na_T2WJZKxppX20Gyms2RZE" />

    <!--- Global config -->
    <script>
    var base_url = '../index.html';
        var _THEME_ = '../themes/nokair/index.html';
        var _LANG_ = 'vi';</script>


</head>
<body>
    <h1 style="display: none;">Chuyến bay Từ Hà Nội Đến TP Hồ Chí Minh Một chiều | Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ</h1>
    <h2 style="display: none;">Vietjetbooking | Bay là thích ngay !</h2>

    <div id="content">
        <header>

            <div class="logo">
                <a href="~/index.html" title="Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ">
                    <img src="~/userupload/hinhanh/vietjetbookingw.png" alt="Vietjet Air | Bay giá rẻ - Vui vẻ cả nhà | Giá chỉ từ 58.OOO VNĐ" style="margin-left: -2px; margin-top: 8px;" width="266" />
                </a>
            </div>



            <div id="toolbar">
                <div id="toolbardiv"><a href="~/gioi-thieu-ve-chung-toi.html">Về chúng tôi</a></div>
                <div id="toolbardiv"><a href="~/lien-he.html">Liên hệ</a></div>
                <div id="toolbardiv"><a style="color: #ff191a; font-weight: bold;">Đăng nhập đại lý</a></div>
                <div class="location">

                    <div class="fauxSiteSelect vietnam" id="ctl05_ctl07_ctl00_fauxSiteSelect">
                        <span class="fsTop">
                            Vietnam (English)
                        </span>

                        <ul class="fauxDropDown" style="display: none;">
                            <li>
                                <a href="~/vn/vi/index.html" data-item="Vietnam (Tiếng Việt)" class="vietnam" culture="vn/vi/" onclick="setCookie(this)" id="ctl05_ctl07_ctl00_rptLocation_hlLocation_18">
                                    <span>Vietnam (Tiếng Việt) </span>
                                </a>
                            </li>

                            <li>
                                <a href="~/vn/en/index.html" data-item="Vietnam (English)" class="vietnam" culture="vn/en/" onclick="setCookie(this)" id="ctl05_ctl07_ctl00_rptLocation_hlLocation_19">
                                    <span>Vietnam (English) </span>
                                </a>
                            </li>

                            <li>
                                <a href="~/us/en/index.html" data-item="United States (English)" class="usa" culture="us/en/" onclick="setCookie(this)" id="ctl05_ctl07_ctl00_rptLocation_hlLocation_20">
                                    <span>United States (English) </span>
                                </a>
                            </li>

                            <li>
                                <a href="~/au/en/index.html" data-item="Other countries (English)" class="global" culture="au/en/" onclick="setCookie(this)" id="ctl05_ctl07_ctl00_rptLocation_hlLocation_21">
                                    <span>Other countries (English) </span>
                                </a>
                            </li>

                        </ul>

                    </div>



                </div>
            </div>


            <div class="user-menu">
                <div class="userdmenud">
                    <ul>

                        <li><a href="~/index.html">Trang chủ</a></li>



                        <li><a href="~/ve-tet.html">Vé Tết 2020</a></li>



                        <li><a href="~/khuyen-mai.html">Khuyến mại</a></li>



                        <li><a href="~/dat-ve-doan.html">Đặt vé đoàn</a></li>



                        <li><a href="~/huong-dan-dat-cho.html">Hướng dẫn đặt chỗ</a></li>



                        <li><a href="https://m.vietjetair.com/#src/flight_status/step1_enter_info.html">Kiểm tra mã đặt chỗ</a></li>



                    </ul>
                </div>
            </div>


        </header>  <div class="clear"></div>


        <div id="wrap">
            <style>

                .search-result table.dataTable .i-result .td1.price {
                    text-align: right;
                    cursor: pointer;
                }

                .search-result table.dataTable .i-result .td1.price {
                    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffdbcd 0%, #ffb99d 61%, #ffb79a 100%) repeat scroll 0 0;
                    color: #525759;
                    font-size: 16px;
                    padding-left: 15px;
                    width: 207px !important;
                }
                /*
                .search-result table.dataTable .i-result .label-select {
                  float: left;
                  margin: 0;
                  min-width: unset;
                  width: 50px;
                }*/
                .search-result table.dataTable .i-result .label-select {
                    float: right;
                    margin: 2px 0 0 11px;
                    min-width: unset;
                    width: 50px;
                }

                    .search-result table.dataTable .i-result .label-select .button-select {
                        background: #ffa500 none repeat scroll 0 0;
                        border-radius: 4px;
                        color: #ffffff;
                        cursor: pointer;
                        display: inline-block;
                        font-family: Verdana;
                        font-size: 13px;
                        font-weight: normal;
                        margin: 0;
                        padding: 5px 4px;
                    }
                        /*
                .search-result table.dataTable .i-result .label-select .button-select {
                  background: #ff191a none repeat scroll 0 0;
                  color: #ffffff;
                }
                */

                        .search-result table.dataTable .i-result .label-select .button-select:hover, .search-result table.dataTable .i-result .label-select .button-select:active, .search-result table.dataTable .i-result .label-select .button-select:focus {
                            /* background: #04468c none repeat scroll 0 0; */
                            color: white;
                        }

                .search-result table.dataTable .i-result.selected:hover .label-select .button-select, .search-result table.dataTable .i-result.selected .label-select .button-select {
                    background: #f20000 none repeat scroll 0 0;
                    color: white;
                }

                .td1.price > span {
                    line-height: 27px;
                }



                .flight_select {
                    float: left;
                }

                table.dataTable.no-footer {
                    border-bottom: 1px solid #ddd;
                }

                .fixed .common-button2 {
                    display: none;
                }

                .fixed .commonimg {
                    display: none;
                }

                #submitFlight.fixed {
                    border: 1px dashed rgb(237, 27, 36);
                }
            </style>

            <script type="text/javascript">
    function myFunctionx() { /*
//alert("Hello! I am an alert box!!");
                $('.price').bind("click tap",function() {
                    $(this).find(':radio').attr('checked','checked');
                            $(this).closest('table').find('.selected').removeClass('selected');
                            $(this).closest('tr').addClass('selected');

                });
*/
                }</script>



            <style>

                .detail-holder {
                    float: right;
                }

                    .detail-holder .way-holder {
                        line-height: 20px;
                        padding: 5px 10px;
                    }

                        .detail-holder .way-holder .way {
                            margin: 0;
                        }
            </style>


            <div id="detail-holder" class="detail-holder">

                <style>

                    .detail-holder {
                        border-radius: 8px;
                    }
                    /* .detail-holder.fly {
                      margin-bottom: 10px;
                      position: unset;
                    }*/

                    .block-week ul.block-content > li {
                        width: 95px;
                    }

                    .bgtext2 {
                        color: #ffffff;
                        padding: 0 1px 8px 0;
                    }
                </style>
            </div>











            <script src="~/javascript/datatables/jquery.dataTables.min.js"></script>
            <div class="search-result">

                <div id="closeday-xxx" class="alert warning-xxx" style='display: none;'>

                    <strong>Lưu ý: </strong> Hệ thống không thể giữ chỗ vì sát ngày bay.
                    <p>Vui lòng liên hệ:  <strong>028.3898 3898</strong></p>

                </div>
                <script>//$('#closeday').show();</script>

                <form id="frmSelectFlights" method="post" action="https://vietjets.com.vn/flight/customer_information?session=1154376851">


                    <div class="flight-info">
                        <ul>
                            <li style="font-size: 23px;">
                                <span class="first-upper">1. Lựa chọn chuyến bay chặng đi</span> <br />
                                <b>Hà Nội(HAN)</b> đến <b>TP Hồ Chí Minh(SGN)</b>
                            </li>

                            <li>
                                Bay ngày: <strong>Thứ năm</strong>, <b class="date-go">10/10/2019</b>.
                                Hành khách: <strong>1 Người lớn,  0 Trẻ em, 0 Em bé</strong>.
                                <i>Giá <u>chưa</u> bao gồm thuế và phí.</i>
                            </li>
                        </ul>
                    </div>


                    <div class="block-week">
                        <ul class="block-content changedate">
                            <li><a href="javascript:void(0)" data-back="" data-go="09/10/2019">Thứ Tư<br />09/10/2019</a><label class="cheapest-price"><img src="~/themes/nokair/img/loading-8x8.gif" /></label></li>

                            <li class="active"><a href="javascript:void(0)" data-back="" data-go="10/10/2019">Thứ Năm<br />10/10/2019</a><label class="cheapest-price"><img src="~/themes/nokair/img/loading-8x8.gif" /></label></li>

                            <li><a href="javascript:void(0)" data-back="" data-go="11/10/2019">Thứ Sáu<br />11/10/2019</a><label class="cheapest-price"><img src="~/themes/nokair/img/loading-8x8.gif" /></label></li>

                            <li><a href="javascript:void(0)" data-back="" data-go="12/10/2019">Thứ Bảy<br />12/10/2019</a><label class="cheapest-price"><img src="~/themes/nokair/img/loading-8x8.gif" /></label></li>

                            <li><a href="javascript:void(0)" data-back="" data-go="13/10/2019">Chủ Nhật<br />13/10/2019</a><label class="cheapest-price"><img src="~/themes/nokair/img/loading-8x8.gif" /></label></li>

                            <li><a href="javascript:void(0)" data-back="" data-go="14/10/2019">Thứ Hai<br />14/10/2019</a><label class="cheapest-price"><img src="~/themes/nokair/img/loading-8x8.gif" /></label></li>

                            <li><a href="javascript:void(0)" data-back="" data-go="15/10/2019">Thứ Ba<br />15/10/2019</a><label class="cheapest-price"><img src="~/themes/nokair/img/loading-8x8.gif" /></label></li>


                        </ul>
                    </div>
                    <table class="datTable0 display dataTable no-footer" cellpadding="0" id="DataTables_Table_0" role="grid" style="width: 1004px;">
                        <thead>
                            <tr role="row">
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="" style="width: 45px;"></th>
                                <th class="hidden-xs td1 text-center flightcode sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Chuyến bay: activate to sort column ascending" style="width: 212px;">Chuyến bay</th>
                                <th class="td1 f-time sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Khởi hành: activate to sort column ascending" style="width: 192px;">Khởi hành</th>
                                <th class="hidden-xs td1 t-time sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Đến: activate to sort column ascending" style="width: 100px;">Đến</th>
                                <th rel="0" data-order="asc" class="clickable sorting  td1 price sorting_disabled" rowspan="1" colspan="1" aria-label="Giá" style="width: 94px;">Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ChuyenBay item in Model)
                            {
                                <tr role="row" class="i-result">
                                    <td>
                                        <img title="@item.Title" src="~/Content/image/@item.UrlAnh">
                                    </td>
                                    <ensp></ensp>
                                    <td class=" td1 text-center hidden-xs flightcode">@item.MaChuyenBay</td>
                                    <td class=" td1 f-time">item.KhoiHanh</td>
                                    <td class=" td1 t-time hidden-xs">@item.Den</td>
                                    <td class=" td1 price">
                                        <span data-base="@item.Gia">@item.Gia VNĐ</span>
                                        <label class="label-select">
                                            <input type="radio" value="0-0-0" name="flight0" class="flight_select" style="display: none;">
                                            <span class="button-select">Chọn</span>
                                        </label>
                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>

                    <button class="common-button2" onclick="history.go(-1);" action="action" type="button" value="Back" style="float: left; margin-top: 6px;"> QUAY LẠI</button>
                    <img src="~/themes/nokair/img/arrow1.gif" style="margin-top: 15px; float: left; margin-left: 8px; transform: rotate(180deg);" class="commonimg">

                    <div id="submitFlight" style=" ">
                        <span class="moreScroll">Kéo xuống để xem thêm kết quả&nbsp;<img style="margin-top: -16px;" src="~/themes/nokair/img/arrow-down.gif" /></span>
                        <input type="hidden" name="goticket" id="goticket" />
                        <input type="hidden" name="backticket" id="backticket" />

                        <input type="submit" class="input-submit common-button2" id="select-flight" name="SelectFlightDomestic" value="Tiếp tục">
                        <img class="commonimg" style="margin-top: 8px; float: right; margin-right: 8px;" src="~/themes/nokair/img/arrow1.gif" />

                    </div>
                    <script>$('#submitFlight').show();</script>














                    <script src="~/javascript/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
                    <script src="~/javascript/jquery.validate.min.js"></script>
                    <script src="~/javascript/ui.datepicker.lunar.min.js"></script>
                    <script src="~/javascript/bxslider/jquery.bxslider.js"></script>
                    <script src="~/javascript/jquery.cookie.js"></script>
                    <script src="~/javascript/app2.js"></script>
</body>

<!-- Mirrored from vietjets.com.vn/flight/search?session=1154376851 by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Oct 2019 14:27:45 GMT -->
</html>


