
@{
    ViewBag.Title = "Review";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@if (TempData["layout"] != null)
{
    if (TempData["layout"].ToString() == "logged in")
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout1.cshtml";
    }
}
@using Flight.Models.Entity;

<div id="wrap">
    <div class="review">




        <h4 class="head-title1">Thông tin Khách hàng</h4>
        <ul class="customer-info">
            <li><span>Họ &amp; Tên: </span> @ViewBag.khachhang.HoTenKhachHang </li>
            <li><span>Điện thoại: </span>@ViewBag.khachhang.DienThoai</li>
            <li><span>Email: </span>@ViewBag.khachhang.Email</li>
            <li><span>Địa chỉ: </span>@ViewBag.khachhang.Diachi</li>
            <li><span>Thanh toán: </span>@ViewBag.HinhThucThanhToan</li>

            <li> <pre></pre> </li>
        </ul>
        <h4 class="head-title1">Thông tin Hành khách</h4>
        <table class="table1 table-border table-hover" style="background: oldlace none repeat scroll 0% 0%; margin-bottom: 15px;">
            <tbody>
                @foreach (adult item in Model.adultList)
                {
                    <tr style="color: red;">
                        <td style="width: 200px;">@item.adultSex </td>
                        <td>@item.adultName</td>
                        <td>@item.adultBaggageType  </td>
                    </tr>

                }
                @foreach (child item in Model.childList)
                {
                    <tr style="color: red;">
                        <td style="width: 200px;">@item.childSex </td>
                        <td>@item.childName</td>
                        <td>@item.childBaggageType </td>
                    </tr>

                }
                @foreach (infant item in Model.infantList)
                {
                    <tr style="color: red;">
                        <td style="width: 200px;">@item.infantSex </td>
                        <td>@item.infantName</td>
                    </tr>

                }
            </tbody>
        </table>
        <h3 class="total-price">
            GIÁ VÉ: <span class="currency">@ViewBag.tongtien VNĐ</span> <br>
            <div style="font-size: 16px; padding-top: 9px; color: tomato;">
                Phí xuất vé: <span class="currency">0 VNĐ</span>
            </div>
        </h3>
        <img src="~/userupload/quydinhhanhly.png" width="100%">
        <div id="note" style="background: #ED1C24 none repeat scroll 0% 0%; padding: 4px 1px 9px 6px; margin: 4px 0px 11px;">

            <table width="100%">
                <tbody>
                    <tr>
                        <td>
                            <h3 style="font-size: 12px; color: white;">Tôi đã đọc, hiểu và đồng ý với các điều kiện, quy định đối với vật phẩm nguy hiểm.</h3>
                        </td>
                        <td style="text-align: right; padding-right: 10px;" width="15%">
                            <span style="color: white;">Chọn ô này</span>
                            <input name="dangerous_goods_check" id="dangerous_goods_check" value="1" checked="" type="checkbox">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <form method="post" id="place_order_form" role="form" action="~/Home/Thankyou">
            <!--
                <div id="payment-method">
                    <!-- BEGIN: payment_method -- >
                    <h3 data-id="4">
                        Thanh toán online thẻ ATM
                        <span style="float:right">Chọn</span>
                        <span class="icon"></span>
                        <div class="clear"></div>
                    </h3>
                    <div class="summary">
                        <p><em>Qu&yacute; kh&aacute;ch đ&atilde; chọn thanh to&aacute;n online bằng thẻ ATM ...</em></p>
        <p><strong>Ch&uacute;c Qu&yacute; kh&aacute;ch một chuyến bay tốt đẹp !</strong></p>
                        <!-- BEGIN: sub_method -- >
                            <table class="sub-method">
                            <!-- BEGIN: item -- >
                            <tr>

                                <td class="information">
                                    <h3 class="title">Ngân hàng TMCP Á Châu</h3>
                                    <div class="detail">
                                        <p><strong>NG&Acirc;N H&Agrave;NG TMCP &Aacute; CH&Acirc;U - ACB</strong></p>
        <p>Chủ TK :&nbsp;<strong>CTY CP XNK ĐẦU TƯ HẢI ĐĂNG</strong></p>
        <p>Số t&agrave;i khoản: <strong>58557149</strong></p>
        <p>Chi nh&aacute;nh :<strong> B&igrave;nh Thạnh</strong></p>
                                    </div>
                                </td>
                                <td align="center"><span class="icon-check" data-id="10"></span></td>
                            </tr>
                            <!-- END: item -- >
                            </table>
                        <!-- END: sub_method -- >
                    </div>
                    <!-- END: payment_method -- >
                </div>	-->



            <div class="text-center">
                <!--   <input type="hidden" name="payment_method" value="1" /> -->
                <input type="hidden" name="amount" id="amount" value="@ViewBag.tongtien">
                <div class="clear"></div>
                @foreach (adult item in Model.adultList)
                {
                    <input hidden type="text" name="hkID" id="hkID" value="@item.adultID" />

                }
                @foreach (child item in Model.childList)
                {
                    <input hidden type="text" name="hkID" id="hkID" value="@item.childID" />

                }
                @foreach (infant item in Model.infantList)
                {
                    <input hidden type="text" name="hkID" id="hkID" value="@item.infantID" />
                }
                <input hidden type="text" name="makhachhang" id="makhachhang" value="@ViewBag.makhachhang" />
                <img style="margin-top: 8px; margin-left: 168px;" src="/themes/nokair/img/arrow1.gif">
                <button class="common-button2" id="btnSubmit" type="submit">XÁC NHẬN THÔNG TIN &amp; ĐẶT VÉ</button>
                <br>
                <br>
                <br>
                <br>
            </div>






        </form>
        
    </div>
  
</div>
